<div class="inner flex--wrap edge">
  <h1 class="hidden-txt">상단 메뉴</h1>
  <span class="flex--wrap"><b lang="en" class="r1">web portfolio</b><b lang="en" class="r2">hj</b></span>
  <span class="button-allMenu-open">
    <a href="">
      <b>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
      </b>
    </a>
  </span>
</div>
<div class="allMenu">
  <div class="flex--wrap center">
    <button type="button" class="btn-toggleTheme rounded border"><em>Dark mode</em></button>
  </div>
  <ul class="grid-wrap gap20">
    <li><a class="anchor" href="#contents" lang="en">intro</a></li>
    <li><a class="anchor" href="#section-02" lang="en">introduce</a></li>
    <li><a class="anchor" href="#section-03" lang="en">skill inventory</a></li>
    <li><a class="anchor" href="#section-04" lang="en">portfolio</a></li>
    <!-- <li><a class="anchor" href="#section-05" lang="en">contact</a></li> -->
  </ul>
</div>
<div class="scrollGage"></div>
