<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="Author" content="@@page_name" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="theme-color" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

@@if (page_main === true){
<title>Portfolio</title>
<script src="assets/js/main.js"></script>
<script defer src="assets/js/vendor.js"></script>
<!-- <link rel="stylesheet" href="assets/css/ui.css" /> -->
<link rel="stylesheet" href="assets/css/style.css" />
} @@if (page_main === false){
<title>@@page_title | Portfolio</title>
<script src="../assets/js/main.js"></script>
<script defer src="../assets/js/vendor.js"></script>
<!-- <link rel="stylesheet" href="../assets/css/ui.css" /> -->
<link rel="stylesheet" href="../assets/css/style.css" />
}
