/**
 * ==============================+
 * header
 * ==============================+
 */

#gnb {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;

  > div:first-of-type {
    height: 60px;
  }

  .scrollGage {
    background-color: $black;
    width: 0;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    @include transition(all ease-out 0.2s);
  }

  span {
    text-transform: uppercase;
    font-size: 1.8rem;

    .r2 {
      position: absolute;
      left: 60px;
      opacity: 0;
      @include transform(translateX(-100%));

      @include _bp(1200px) {
        left: 30px;
      }
      @include _bp(561px) {
        left: 15px;
      }
    }

    &.button-allMenu-open {
      a {
        display: block;
        width: 40px;
        height: 40px;
        background-color: $black;
        border-radius: 50%;
        text-align: center;
        font-size: 0;
        overflow: hidden;
        @include transition(all cubic-bezier(0.19, 1, 0.22, 1) 1.2s);

        b {
          display: inline-block;
          width: 15px;
          position: relative;
          margin: 14px auto 0;
        }

        i {
          display: inline-block;
          width: 15px;
          height: 1px;
          background-color: currentColor;
          color: $white;
          position: absolute;
          top: 0;
          left: 0;
          @include transition(transform cubic-bezier(0.19, 1, 0.22, 1) 1s);

          &:first-of-type {
            margin-top: 0;
          }

          &:nth-of-type(2),
          &:nth-of-type(3) {
            margin-top: 6px;
          }

          &:nth-of-type(4) {
            margin-top: 12px;
          }
        }
      }
    }
  }

  .allMenu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100vh;
    background-color: $purple;
    padding: 3em 0;
    @include transition(all ease-out 0.3s);

    ul {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));

      li {
        color: $white;
        font-size: 2.5rem;
        line-height: 1;

        a {
          text-transform: uppercase;
        }
      }
    }
  }
}
