<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('./include/head.html', { page_main: true })
  </head>
  <body>
    @@include('./include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header id="gnb">@@include('./include/gnb.html', {path:'.' })</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <main id="contents">
        <h1 class="hidden-txt">portfolio</h1>
        <section class="section-01">
          <article>
            <h2 class="hidden-txt">intro</h2>
            <div class="heading-tit-wrap align-c fixed">
              <strong class="tit-1" lang="en">
                HJ<br />
                <span>WEB PUBLISHER</span>
              </strong>
            </div>
            <div class="heading-tit-wrap align-c fixed">
              <strong class="tit-2">
                안녕하세요<br />
                웹 퍼블리셔<br />
                김효주입니다.
              </strong>
            </div>
          </article>
        </section>
        <section class="section-02 flex--wrap" id="section-02">
          <h2 class="hidden-txt">소개</h2>
          <div class="inner2 flex--wrap column edge">
            <dl class="align-r animate fadeInLeft">
              <dt>
                <strong>꼼꼼하게..<span> Markup</span></strong>
              </dt>
              <dd>
                웹 호환성 및 접근성을 준수하고<br />
                재사용성을 고려한 코드를 작성합니다.
              </dd>
            </dl>
            <dl class="align-l animate fadeInRight">
              <dt>
                <strong>원활하게..<span> Co-work</span></strong>
              </dt>
              <dd>
                기획, 디자인, 개발 인력과의 원활한 협업을 통해<br />
                만족도 높은 결과물을 만듭니다.
              </dd>
            </dl>
            <dl class="align-r animate fadeInLeft">
              <dt>
                <strong>끊임없이..<span> Skill up</span></strong>
              </dt>
              <dd>
                작업 생산성을 높이고 협업을 위한 다양한 기술을<br />
                끊임없이 배우고 공유합니다.
              </dd>
            </dl>
            <dl class="align-l animate fadeInRight">
              <dt>
                <strong>완벽하게..<span> Outputs</span></strong>
              </dt>
              <dd>
                산출물이 누락되지 않도록 꼼꼼하게 체크하여<br />
                만족도 높은 결과물을 제공합니다.
              </dd>
            </dl>
          </div>
        </section>
        <section class="section-03" id="section-03">
          <h2 lang="en" class="heading-tit-wrap align-c r-tit">
            <strong>
              <i>s</i><i>k</i><i>i</i><i>l</i><i>l</i><i>&nbsp;</i><i>i</i><i>n</i><i>v</i><i>e</i><i>n</i><i>t</i><i>o</i><i>r</i
              ><i>y</i>
            </strong>
          </h2>
          <div class="flex--wrap" style="height: 100%">
            <div class="flex--wrap horizonScroll-wrapper">
              <div class="flex--wrap center scrollItem">
                <div class="flex--wrap center">
                  <span class="flex--wrap column">
                    <b>
                      <em class="name">HTML5</em>
                      <em class="rating">
                        <i class="r-rating"></i>
                        <i class="r-range" data-range='90'></i>
                      </em>
                    </b>
                  </span>
                </div>
              </div>
              <div class="flex--wrap center scrollItem">
                <div class="flex--wrap center">
                  <span class="flex--wrap column">
                    <b>
                      <em class="name">CSS3</em>
                      <em class="rating">
                        <i class="r-rating"></i>
                        <i class="r-range" data-range='90'></i>
                      </em>
                    </b>
                  </span>
                </div>
              </div>
              <div class="flex--wrap center scrollItem">
                <div class="flex--wrap center">
                  <span class="flex--wrap column">
                    <b>
                      <em class="name">Sass/SCSS</em>
                      <em class="rating">
                        <i class="r-rating"></i>
                        <i class="r-range" data-range='80'></i>
                      </em>
                    </b>
                  </span>
                </div>
              </div>
              <div class="flex--wrap center scrollItem">
                <div class="flex--wrap center">
                  <span class="flex--wrap column">
                    <b>
                      <em class="name">JAVASCRIPT</em>
                      <em class="rating">
                        <i class="r-rating"></i>
                        <i class="r-range" data-range='80'></i>
                      </em>
                    </b>
                  </span>
                </div>
              </div>
              <div class="flex--wrap center scrollItem">
                <div class="flex--wrap center">
                  <span class="flex--wrap column">
                    <b>
                      <em class="name">JQEURY</em>
                      <em class="rating">
                        <i class="r-rating"></i>
                        <i class="r-range" data-range='80'></i>
                      </em>
                    </b>
                  </span>
                </div>
              </div>
              <div class="flex--wrap center scrollItem">
                <div class="flex--wrap center">
                  <span class="flex--wrap column">
                    <b>
                      <em class="name">TYPESCRIPT</em>
                      <em class="rating">
                        <i class="r-rating"></i>
                        <i class="r-range" data-range='40'></i>
                      </em>
                    </b>
                  </span>
                </div>
              </div>
              <div class="flex--wrap center scrollItem">
                <div class="flex--wrap center">
                  <span class="flex--wrap column">
                    <b>
                      <em class="name">Webpack</em>
                      <em class="rating">
                        <i class="r-rating"></i>
                        <i class="r-range" data-range='60'></i>
                      </em>
                    </b>
                  </span>
                </div>
              </div>
              <div class="flex--wrap center scrollItem">
                <div class="flex--wrap center">
                  <span class="flex--wrap column">
                    <b>
                      <em class="name">gulp</em>
                      <em class="rating">
                        <i class="r-rating"></i>
                        <i class="r-range" data-range='70'></i>
                      </em>
                    </b>
                  </span>
                </div>
              </div>
              <div class="flex--wrap center scrollItem">
                <div class="flex--wrap center">
                  <span class="flex--wrap column">
                    <b>
                      <em class="name">VUE</em>
                      <em class="rating">
                        <i class="r-rating"></i>
                        <i class="r-range" data-range='60'></i>
                      </em>
                    </b>
                  </span>
                </div>
              </div>
              <div class="flex--wrap center scrollItem">
                <div class="flex--wrap center">
                  <span class="flex--wrap column">
                    <b>
                      <em class="name">websquare</em>
                      <em class="rating">
                        <i class="r-rating"></i>
                        <i class="r-range" data-range='60'></i>
                      </em>
                    </b>
                  </span>
                </div>
              </div>
              <div class="flex--wrap center scrollItem">
                <div class="flex--wrap center">
                  <span class="flex--wrap column">
                    <b>
                      <em class="name">PHOTOSHOP</em>
                      <em class="rating">
                        <i class="r-rating"></i>
                        <i class="r-range" data-range='40'></i>
                      </em>
                    </b>
                  </span>
                </div>
              </div>
              <div class="flex--wrap center scrollItem">
                <div class="flex--wrap center">
                  <span class="flex--wrap column">
                    <b>
                      <em class="name">Framer</em>
                      <em class="rating">
                        <i class="r-rating"></i>
                        <i class="r-range" data-range='30'></i>
                      </em>
                    </b>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-04" id="section-04">
          <h2 lang="en" class="heading-tit-wrap align-c r-tit">
            <strong><i>p</i><i>o</i><i>r</i><i>t</i><i>f</i><i>o</i><i>l</i><i>i</i><i>o</i></strong>
          </h2>
          <div class="inner">
            <div class="align-r animate fadeInLeft">
              <span class="select-wrap">
                <label for="prj-select"><em class="hidden_El">분류</em></label>
                <select id="prj-select" class="project" title="분류">
                  <option value="">전체</option>
                  <option value="type01">구축</option>
                  <option value="type02">운영&#x2F;유지 보수</option>
                  <option value="type03">웹 접근성</option>
                </select>
              </span>
            </div>
            <div class="pf-list grid-wrap col-6"></div>
          </div>
        </section>
        <!-- <section class="section-05" id="section-05">
          <h2 lang="en" class="heading-tit-wrap align-c r-tit">
            <strong><i>c</i><i>o</i><i>n</i><i>t</i><i>a</i><i>c</i><i>t</i></strong>
          </h2>
          <div class="inner">
            <div class="form-wrap"></div>
          </div>
        </section> -->
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('./include/footer.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
